body {
    color: #fff;
    background: #111315;
    overflow: hidden;
  }
  
.main-container3{
    max-width: 1950px;
    margin: 0 auto;
    width: 100%;
  }
  
  .height_content{
    height: calc(100vh - 68px)
  }
  