.blogs_product_arrow{
    opacity: 0;
    transition: opacity 0.4s ease;
    
}

.blogs_product_arrow_icon{

    background-color: rgba(231, 231, 231, 0.806);
    font-weight: 600;
    color: #fff;
}

.blogs_product_container:hover .blogs_product_arrow{
    opacity: 1;
}

.blogs_product_title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.blogs_product_description{
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Display up to 3 lines */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 78px; /* Adjusted height for 3 lines of text */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}



.tabs_main_service a:focus,
.tabs_main_service a:first-child:active{
  color: #000000;
  border-bottom: 2px solid #000;
  font-weight: 600;
}



/* Hide scrollbar background */
.tabs_main_service::-webkit-scrollbar {
  background-color: transparent; /* For Chrome, Safari, and Opera */
}

/* Hide scrollbar background for Firefox */
.tabs_main_service {
  scrollbar-color: transparent transparent; /* For Firefox */
}

.tips_main_items{
  border: 1px solid rgb(73, 64, 112);
  background: linear-gradient(rgba(37, 32, 69, 0.67) 0%, rgb(8, 6, 31) 100%);
  /* width: 100%; */
  opacity: 1;
  border-radius: 16px;
}
.third_background{
  background: linear-gradient(rgb(1, 3, 19) 13%, rgb(56, 34, 130) 79%, rgb(149, 117, 255) 100%);
  border-radius: 96px;
  
  opacity: 1;
  height:640px;
}