.blogs_detail_intro{
    display: -webkit-box;
      -webkit-line-clamp: 3; 
      line-clamp: 3;
      -webkit-box-orient: vertical;
      height: 188px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
  }


  
  
.wordpress-container strong,
.wordpress-container ul{

 /* color: #4f91ff; */
}

.wordpress-container strong{
  font-size: 24px;
}

.wordpress-container p,
.wordpress-container ul{
  margin: 1.5rem 0 0.5rem 0;
}

.wordpress-container p,
.wordpress-container li{

 color: #ffff;
}

.wordpress-container li{
  padding: 0.5rem 0;
}

.wordpress-container li strong{
  font-size: 18px;
}

.wordpress-container figure{
  margin: 1rem 0;
}

.wordpress-container table{
  margin: 1.8rem 0 0.5rem 0;
  background-color: #ffffff;
  color: #ffff;
  border: 1px solid #8b8b8b;

 }

 .wordpress-container table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

 .wordpress-container table strong{
  font-size: 16px;
 }

 .blog_background{
  background: linear-gradient(180deg, #010313 18%, rgb(64, 38, 150) 90%, rgb(149, 117, 255) 100%);
  border-radius: 66px;
  flex: none;
  height: 640px;
  left: calc(50.00000000000002% - 97.22222222222221% / 2);
  position: absolute;
  top: 30px;
  width: 97%;
  z-index: -1;
}
 